_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.ruby-version
.tweet-cache

assets/libs/
node_modules/
vendor
.idea
.venv

# Local Netlify folder
.netlify
.stats/*
mcp/*
bin/*

# Local / private
.env
.gitconfig


EOF
